{% extends "core/base.html" %}
{% block title %}
Quienes Somos
{% endblock title %}
{% block content %}
<div class="container">
<div class="jumbotron">
  <h1 class="display-4 p-4">Quienes Somos</h1>
  <p class="lead p-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus libero placeat et voluptatibus dolor ab fugit obcaecati quo nesciunt, non molestiae deleniti quas modi vitae quos exercitationem recusandae adipisci odit facilis. Ex aliquid, facilis quas corrupti soluta accusantium quam officiis, id vero qui excepturi! Quia exercitationem accusantium blanditiis perferendis odio?</p>

</div>
</div>
{% endblock content %}